body {
    background: #fff;
    color: #000;
}

img {
   vertical-align: bottom;
}

.time {
    color: #888a85;
}

.message {
    margin: 0;
    padding: 0.25em 0;
}
    .message .contents {
        white-space: pre-wrap;
    }
    .message .contents.code {
        display: block;
    }
    .message.incoming {
    }
        .message.incoming .name {
            color: #c00;
        }
            .message.incoming.history .name {
                color: #ef2929;
            }
    .message.outgoing {
    }
        .message.outgoing .name {
            color: #3465a4;
        }
            .message.outgoing.history .name {
                color: #729fcf;
            }

.event {
    margin: 0;
    padding: 0.25em 0;
}
    .event .contents {
        color: #4e9a06;
    }

.history {
    color: #555753;
}

